.btndas
{
    background-color:#F5C500;
  }

  .border-blue-700 {
    border-color: 
    #F5C500;
}

.md\:text-gray-400 {
    color: 
    #F5C500;
}
.bg-blue-800 {
  background-color: 
  #F5C500;
}
.bg-gray-900 {
  background-color: 
  #313131;
}
