.btndas
{
    background-color:#F5C500;
  }

  .border-blue-700 {
    border-color: 
    #F5C500;
}
 hover:border-blue-500 {
    background-color: #F5C500;
}
hover:bg-blue-400
{
    background-color: #F5C500;
}
hover:border-blue-500{
    background-color: #F5C500;
}